# Gram Farm Telegram Bot & Mini App Configuration
PORT=3000
BOT_TOKEN=8823695679:AAGqFpaIbCBMQ6z-W9JEVruvrDB98ynYfx0
ALERT_BOT_TOKEN=8893100064:AAHRs_ZC3oCA8sRVphR0ICXJtINggKH8_Ro
APP_URL=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:npg_9KoTdPZq4eOp@ep-tiny-forest-a786ufnz-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require
ADMIN_TELEGRAM_ID=8829204942
ADMIN_SECRET=3845
TON_VAULT_ADDRESS=UQDFaBOdgZhLBZRSG28qImvn-Gn4kZ0D0HQVEHCtS9fFu7P0
NODE_ENV=production
